- provide :title, t('.title')
%h1= t('.title')

.row
  .span6.offset4
    = form_for @user, url: password_reset_path(params[:id]) do |f|
      -#= render 'shared/error_messages', object: f
      / TODO User form for password partial
      = f.label :email
      %br/
      = f.text_field :email, readonly: true

      = f.label :password
      %br/
      = f.password_field :password

      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation

      = f.submit t('.button'), class: 'btn btn-large btn-primary'
