<!DOCTYPE html>
<html>
<head>
  <title>Special - How you feel today</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="whole_page">
    <div id="header">Special</div>
    <div id="nav">
      <%= nav_link 'Home',     'site' %> |
      <%= nav_link 'About us', 'site', 'about' %> |
      <%= nav_link 'Help',     'site', 'help'  %> |
      <%= nav_link 'Register', 'user', 'register' %>
    </div>
    <div id="content">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield %>
    </div>
    <% if ENV["RAILS_ENV"] == "development" %>
      <%= debug(params) %>
    <% end %>
  </div>
</body>
</html>
